<div class="container" id="sidebar-container">
    <ul class="nav navbar-nav side-nav" id="list">
        <!-- <li> <img class="logo" src="./assets/img/logo.png"> </li> -->
        <li><a on-mouseover='over($event)' href="" title="통합검색">통합검색</a></li>
        <li><a on-mouseover='over($event)' href="">우수논문</a></li>
        <li><a on-mouseover='over($event)' href="">KSCY발표논문</a></li>
        <li><a on-mouseover='over($event)' href="">연구계획</a></li>
        <li><a on-mouseover='over($event)' href="">외부 논문</a></li>
    </ul>
</div>
