<div class="container" id="sidebar-container">
    <div class="logo">
        <a href="http://db.kscy.org">
        <img id="logo" (click)="home()" src="/assets/img/DB_Small_logo_white.png">
        </a>
    </div>
    <div class="text">
        <span class="texts">KSCY 통합검색</span>
    </div>
    <ul class="nav navbar-nav side-nav" id="list">
        <!-- <li> <img class="logo" src="./assets/img/logo.png"> </li> -->
        <li [class.active]="search_type == 'tonghap'"><a (click)="toTongHap()" title="통합검색">통합검색</a></li>
        <li [class.active]="search_type == 'best'"><a (click)="toBest()">우수논문</a></li>
        <li [class.active]="search_type == 'plan'"><a (click)="toPlan()">연구계획</a></li>
        <li [class.active]="search_type == 'pres'"><a (click)="toPres()">KSCY발표논문</a></li>
        <li [class.active]="search_type == 'extr'"><a (click)="toExtr()">외부 논문</a></li>
    </ul>
</div>
