#sidebar-container {
    width: 225px;
    height: inherit;
    float: left;
    position: absolute;
    text-align: center;
    font-family: 'Nanum Barun Gothic', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #404040;
}

.logo {
    height: 150px;
    background-color: #003366;
}

img {
    padding-top: 39px;
    max-width: 225px;
}

.text {
    background: url('back.png');
    padding-top: 20px;
    background-repeat: no-repeat;
    font-size: 15pt;
    color: white;
    height: 80px;
    background-color: #003366;
}

.texts {
    padding-left: 0px;
    width: 225px;
}

.side-nav {
    position: absolute;
    top: 220px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #404040;
    bottom: 0;
    overflow-x: hidden;
    height: inherit;
    min-height: 770px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.side-nav>li>a {
    width: auto;
    display: block;
    padding: 10px 15px 10px 38px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

#list>li {
    width: 225px;
    list-style-type: none;
}

.nav>li>a:focus,
.nav>li>a:hover,
.active {
    text-decoration: none;
    color: #003366;
}

.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 30px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

* {
    box-sizing: border-box;
}

.left-div>ul {
    padding-top: 15px;
}
