<div class="container">
    <div id="left">
        <div class="left-div">
            <ul class="nav navbar-nav side-nav" id="list">
                <!-- <li> <img class="logo" src="./assets/img/logo.png"> </li> -->
                <li class="active"><a href="" title="통합검색">통합검색</a></li>
                <li><a href="">우수논문</a></li>
                <li><a href="">KSCY발표논문</a></li>
                <li><a href="">연구계획</a></li>
                <li><a href="">외부 논문</a></li>
            </ul>
        </div>
    </div>
    <div id="right">

    </div>
</div>