#search-container {
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#left {
    width: 225px;
    height: 100%;
    float: left;
}

#right {
    position: relative;
    width: 100vh;
    height: 100%;
    right: 0;
    float: right;
}

.container-div {
    width: 100%;
    height: 100%;
}
