#search-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5e5e5e;
}

#left {
    width: 225px;
    height: auto;
    float: left;
    background-color: #5e5e5e;
}

#right {
    position: relative;
    width: 100vh;
    height: 100%;
    left: 225px;
}

.container-div {
    width: 100%;
    height: 100%;
}
