@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.main-footer {
    display: inline-block;
    float: none;
    width: 100%;
}

.sub-footer {
    position: relative;
    background: #f3f3f3;
    color: #333333;
    padding: 30px;
    font-size: 16px;
    font-family: 'Nanum Gothic', serif;
    bottom: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
}

.main-footer .container {
    display: inline-block;
    width: 700px;
}

.footer-developer p {
    display: inline-block;
    float: left;
    margin: 0px;
    font-weight: bold;
}

.footer-developer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

.footer-developer ul li {
    display: inline-block;
}

.footer-developer ul li a {
    text-decoration: none;
    color: #f7a50c;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-developer,
.footer-address,
.footer-contacts {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 18px;
}

.footer-address p,
.footer-contacts p {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}

#footer-logo1 {
    height: 30px;
    margin: 10px;
}

#footer-logo2 {
    height: 35px;
    margin: 10px;
}

#footer-logo3 {
    height: 40px;
    margin: 10px;
}

#logo-list-footer {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.footer-copyright {
    width: 100%;
    background: #404040;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
}

.footer-copyright p{
    margin: 0px;
    font-size: 12pt;
}

@media only screen and (max-width: 768px) {
    .sub-footer {
        display: none;
    }
}