<!DOCTYPE HTML>
<footer class="main-footer">
    <div class="sub-footer">
        <div class="container" id="footer-container">
            <div class="footer-developer">
                <p>Powered by KSCY Young Scholar-ship Lab</p><a href="">&nbsp;Database Dept.</a>
            </div>
            <br>
            <div class="footer-contacts">
                <p>서울신촌사무국 | 서울특별시 마포구 신촌 아이스페이스 805호 KSCY 사무국</p>
            </div>
            <div class="footer-address">
                <p>인천국제사무국 | 인천광역시 연수구 송도과학로85 연세대학교 진리관B 443호 KSCY 사무국</p>
            </div>
            <div class="footer-contacts">
                <p>office@kscy.kr (사무국) | hello@kscy.kr (문의)</p>
            </div>
        </div>
        <div id="logo-list-footer">
            <!-- Local
            <img id="footer-logo1" src="/assets/img/logo1.png">
            <img id="footer-logo2" src="/assets/img/logo2.png">
            <img id="footer-logo3" src="/assets/img/logo3.png">
            -->
            <img id="footer-logo1" src="logo1.png">
            <img id="footer-logo2" src="logo2.png">
            <img id="footer-logo3" src="logo3.png">
        </div>
    </div>
    <div class="footer-copyright">
        <p>Copyright(c) 2017 KSCY Database Dept All rights reserved.</p>
    </div>
</footer>
