@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
footer.main-footer {
    background: #424d66;
    color: #ffffff;
    padding: 30px;
    font-size: 16px;
    font-family: 'Nanum Gothic', serif;
<<<<<<< HEAD
    height: inherit;
=======
    height: 25vh;
>>>>>>> origin/master
    bottom: 0px;
    margin: 0px;
}

footer.main-footer .container {
    display: inline-block;
}

.footer-developer p {
    display: inline-block;
    float: left;
    margin: 0px;
}

.footer-developer ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

.footer-developer ul li {
    display: inline-block;
}

.footer-developer ul li a {
    text-decoration: none;
    color: #f7a50c;
    padding-left: 5px;
    padding-right: 5px;
}

.footer-copyright {
    padding-top: 30px;
}

.footer-developer,
.footer-address,
.footer-contacts {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 18px;
}

.footer-address p,
.footer-contacts p {
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
