<!DOCTYPE HTML>

<header class="main-header">
    <script type="text/javascript">
        function popupOpen() {
            var popUrl = "test.html"; //팝업창에 출력될 페이지 URL
            var popOption = "width=370, height=360, resizable=no, scrollbars=no, status=no;"; //팝업창 옵션(optoin)
            window.open(popUrl, "", popOption);
        }
    </script>
    <div class="container" id="header-container">
        <img id="header-logo" (click)="home()" src="main-logo.png">
        <ul class="header-ul">
            <li class="header-ul-li" *ngIf="!loggedIn"><button (click)="loginPopup()"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</button></li>
            <li class="header-ul-li" *ngIf="loggedIn"><button (click)="logout()"><i class="fa fa-sign-in" aria-hidden="true"></i> Logout</button></li>
            <li class="header-ul-li"><button (click)="profile()"><i class="fa fa-user" aria-hidden="true"></i> Profile</button></li>
        </ul>
    </div>
</header>
