.DimmedBlock .DimmedBlockInner {
    position: relative;
    display: inline-block;
    max-height: 100%;
}

.Modal {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.LoginTool .Menu {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.LoginTool .Menu>.Item.active {
    background-color: #f2f2f2;
    border-bottom-color: #f2f2f2;
}

.LoginTool .Menu>.Item {
    display: table-cell;
    border-bottom: 1px solid #e1e5e5;
    border-left: 1px solid #e1e5e5;
    background-color: #ededed;
    text-align: center;
}

.LoginTool .Menu>.Item>.Link {
    display: block;
    height: 63px;
    color: #879292;
    font-size: 15px;
    font-weight: bold;
    line-height: 63px;
    text-decoration: none;

    margin: 0 auto;
    background: none;
    border: none;
}

.LoginTool .Menu>.Item.active>.Link {
    color: #555e5e;
}

form {
    display: block;
    margin-top: 0em;
}

.Modal .Content {
    padding: 22px;
    background-color: #f2f2f2;
}

button, input {
    line-height: normal;
}

input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.LoginTool .Content>.InputWrap {
    position: relative;
    margin-bottom: 15px;
}

.LoginTool .Content>.InputWrap>.Input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d8dbdb;
    padding: 11px 0 12px 10px;
    background-color: #ededed;
    color: #a3a4a8;
    font-size: 13px;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

.LoginTool .Content>.InputWrap>.Input:hover, .LoginTool .Content>.InputWrap>.Input:focus {
    outline: none;
    border-color: #1f8ecd;
}

.LoginTool .Content>.ButtonWrap {
    margin-top: 20px;
}

.LoginTool .Content>.ButtonWrap>.Button {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 17px;
}

.Button.SemiRound.Blue {
    border: 1px solid #1a78ae;
    background: #1f8ecd;
    color: #f2f2f2;
}

.Button {
    text-align: center;
}

.LoginTool .Footer>.Button {
    display: block;
    width: 100%;
    padding-top: 18px;
    padding-bottom: 18px;
    color: #f2f2f2;
    border: none;
    background-color: #1f8ecd;
    font-size: 14px;
    font-weight: bold;
}
