<!DOCTYPE HTML>
<div class="DimmedBlockInner">
    <div class="Close"></div>
    <div class="Modal LoginTool tabWrap _recognized">
        <div class="Menu tabHeaders">
            <div class="Item tabHeader active" data-tab-show-class="Login">
                <a href="#" class="Link">로그인</a>
            </div>
            <div class="Item tabHeader" data-tab-show-class="Join">
                <a href="#" class="Link">5초 회원가입</a>
            </div>
        </div>

        <div class="tabItems">
            <div class="Login tabItem" style="display: none;">
                <form onsubmit="$.OP.GG.ajax.member.login(this); return false;" action="https://www.op.gg/member/ajax2/login.json/">
                    <div class="Content">
                        <input type="hidden" name="referer" value="">

                        <div class="InputWrap">
                            <input type="text" class="Input" placeholder="이메일" name="identifier">
                        </div>
                        <div class="InputWrap">
                            <input type="password" class="Input" placeholder="비밀번호" name="password">
                        </div>
                        <div class="ButtonWrap">
                            <button type="submit" class="Button SemiRound Blue">로그인</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="Join tabItem" style="display: block;">
                <form onsubmit="$.OP.GG.ajax.member.join(this);return false;" action="https://www.op.gg/member/ajax2/join.json/">
                    <div class="Content">
                        <div class="InputWrap">
                            <label class="Label" for="email">이메일</label>
                            <input type="text" class="Input" placeholder="이메일주소 입력" name="email" id="email">
                        </div>
                        <div class="InputWrap">
                            <label class="Label" for="password">비밀번호</label>
                            <input type="password" class="Input" name="password">
                        </div>
                        <div class="InputWrap InputNameWrap">
                            <label class="Label" for="name">닉네임</label>
                            <input type="text" class="Input" name="name" id="name">
                        </div>
                        <div class="RadioInputWrap">
                            <label class="Label">
                    <input class="Input jcf-ignore" type="checkbox" name="TermsOfService" value="yes">
                    <span class="Text">OP.GG의 <a href="/about/agreement/" target="_blank">이용약관</a>과 <a href="/about/privacyCollect/" target="_blank">개인정보 수집 동의</a>을 읽고 동의합니다.</span>
                </label>
                        </div>
                    </div>
                    <div class="Footer">
                        <button class="Button Action">회원가입</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
