<!DOCTYPE HTML>
<div class="DimmedBlockInner">
    <div class="Close"></div>
    <div class="Modal LoginTool tabWrap _recognized">
        <div class="Menu tabHeaders">
            <div class="Item tabHeader Link">
                <div class="Link">Profile</div>
            </div>

        </div>

        <div class="tabItems">
            <div class="Join tabItem" [style.display]="(active) ? 'none' : 'block' ">
                <form>
                    <div class="Content">
                        <div class="InputWrap">
                            <label class="Label" for="email">이름</label>
                            <div class="Label" for="email">{{name}}</div>
                        </div>
                        <div class="InputWrap">
                            <label class="Label" for="email">학교</label>
                            <div class="Label" for="email">{{school}}</div>
                        </div>
                        <div class="InputWrap">
                            <label class="Label" for="email">전화번호</label>
                            <div class="Label" for="email">{{phone}}</div>
                        </div>
                        <div class="InputWrap">
                            <label class="Label" for="email">성별</label>
                            <div class="Label" for="email">{{gender}}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
