<!-- Local
<!DOCTYPE HTML>
<div class="container">
    <h1>
        <img class="logo" src="/assets/img/db_logo_white.png">
    </h1>
    <div class="title">
    </div>
    <p id="search_title">KSCY DB 통합검색</p>
    <div class="search">
        <span class="green_window">
                <input class="input_text" (keyup.enter)="search()" id="keyword" name="query" type="text" title="검색어 입력" maxlength="255"  tabindex="1" accesskey="s" style="ime-mode:active;" autocomplete="off"  />
        </span>
        <button class="search_btn" type="submit" title="검색" tabindex="3" (click)="search()">
            <img class="search_img" src="/assets/img/search.png">
        </button>
    </div>

    <div class="sub_search">
        <a href="/introduce" id="sub01" title="DB소개"> DB.kscy.org 소개 </a>
        <a href="#" id="sub02" title="회차별 우수논문"> 회차별 우수논문 </a>
        <a href="http://kscy.or.kr" id="sub03" title="KSCY"> KSCY Homepage</a>
    </div>
</div>

-->

<!DOCTYPE HTML>
<div class="container">
    <h1>
        <img class="logo" src="db_logo_white.png">
    </h1>
    <div class="title">
    </div>
    <p id="search_title">KSCY DB 통합검색</p>
    <div class="search">
        <span class="green_window">
                <input class="input_text" (keyup.enter)="search()" id="keyword" name="query" type="text" title="검색어 입력" maxlength="255"  tabindex="1" accesskey="s" style="ime-mode:active;" autocomplete="off"  />
        </span>
        <button class="search_btn" type="submit" title="검색" tabindex="3" (click)="search()">
            <img class="search_img" src="search.png">
        </button>
    </div>

    <div class="sub_search">
        <a href="/introduce" id="sub01" title="DB소개"> DB.kscy.org 소개 </a>
        <a href="#" id="sub02" title="회차별 우수논문"> 회차별 우수논문 </a>
        <a href="http://kscy.or.kr" id="sub03" title="KSCY"> KSCY Homepage</a>
    </div>
</div>

