/* Search */

img {
    display: block;
    margin: auto;
}

.container {
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
    font-family: 'Nanum Barun Gothic', sans-serif;
}

.search {
    text-align: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

.logo {
    margin-top: 150px;
    width: 150px;
    height: 150px;
}

.sform {
    margin-top: 9px;
    margin-bottom: 9px;
}

.green_window {
    display: -moz-inline-block;
    display: -moz-inline-box;
    display: inline-block;
    width: 550px;
    height: 42px;
    border: 3px solid #424d66;
}

.input_text {
    width: 526px;
    height: 36px;
    border: 0;
    padding: 0px 8px 0px 8px;
    line-height: 36px;
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    background-color: transparent;
    ime-mode: active;
    outline: none
}

.search_btn {
    width: 42px;
    height: 42px;
    background-color: #424d66;
    border-bottom: 3px solid #424d66;
    border-right: 3px solid #424d66;
    border-top: 3px solid #424d66;
    border-left: 1px solid #424d66;
    bottom: 0;
    position: absolute;
    -o-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
}

.search_img {
    text-align: center;
    width: 26px;
    height: 26px;
}

.search_btn:hover {
    opacity: 0.8;
}

.search_btn:active {
    opacity: 0.5;
}

.sub_search {
    margin-bottom: 80px;
}

.sub_search>a {
    color: #606060;
    font-size: 15px;
    padding-top: 70px;
    display: inline-block;
    text-decoration: none;
    margin: 0 50px;
    height: 15px;
}

#sub01 {
    background: url(http://www.riss.kr/main/images/unified_link1.gif) 50% 0 no-repeat;
}

#sub02 {
    background: url(http://www.riss.kr/main/images/unified_link1.gif) 50% 0 no-repeat;
}

#sub03 {
    background: url(http://www.riss.kr/main/images/unified_link1.gif) 50% 0 no-repeat;
}
