<div class="container">
    <div class="location">
        <img src="http://www.riss.kr/commons/images/home.gif">
        <span class="lo">
            통합검색
        </span>
    </div>

    <div class="keyword">
        <div class="line_top">
            <div class="sc_con">
                <ul class="list">
                    <li>검색 키워드 :
                        <span class="keywords">
                            <span>
                                <strong>DATA</strong>
                            </span>
                        </span>
                        <span class="mounts">(검색결과 : ) </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="best_paper">
        <h2 class="top">
            <a href="#"> 우수논문 </a>
        </h2>

        <ul class="">
            <li>
            </li>
        </ul>

    </div>

    <div class="best_paper">
        <h2 class="top">
            <a href="#"> 우수논문 </a>
        </h2>

        <ul class="">
            <li>
            </li>
        </ul>

    </div>

    <div class="pres_paper">
        <h2 class="top">
            <a href="#"> 우수논문 </a>
        </h2>

        <ul class="">
            <li>
            </li>
        </ul>

    </div>

    <div class="extr_paper">
        <h2 class="top">
            <a href="#"> 우수논문 </a>
        </h2>

        <ul class="">
            <li>
            </li>
        </ul>

    </div>
</div>