a{
    text-decoration:none; color:#000000;
}         
a:hover
{
    color:#ff0000;
}
nav ul
{
    padding-top:10px;
}                     /*  상단 여백 10px  */
nav ul li 
{
    display:inline;                         /*  세로나열을 가로나열로 변경 */
    border-left:1px solid #999;             /* 각 메뉴의 왼쪽에 "|" 표시(분류 표시) */
    font:bold 12px Dotum;                     /* 폰트 설정 - 12px의 돋움체 굵은 글씨로 표시 */            padding:0 10px;                         /* 각 메뉴 간격 */
}
nav ul li:first-child
{
    border-left:none;
}
         