<div class="container">
    <img style="width:600px; display: table-cell; margin-left:200px; margin-right:200px;" src="/assets/img/introduce_logo.png">
    <p id="title">한국청소년학술데이터베이스 DB.kscy.org!</p>
    <p>정식 서비스는 2017년 7월 런칭됩니다!
많은 관심과 응원 부탁드립니다. </p>
    <p>KSCY Young Scholar-ship Lab  Database Dept.</p>
    <div>
        <div class="frame">
            <img class="introduce" src="/assets/img/introduce1.jpg">
        </div>
        <div class="frame">
            <img class="introduce" src="/assets/img/introduce2.jpg">
        </div>
    </div>
</div>