<div class="container" id="resultcontents-container">
    <div class="location">
        <span class="lo">
            <strong>연구 논문 상세</strong>
        </span>
    </div>

    <div class="vTop">
        <ul class="firstLeft">
            <li>
                <span>
                <a href="#redirect" >내서재담기</a>
                </span>
            </li>
            <li>
                <span>
                <a href="#redirect">오류접수</a>
                </span>
            </li>
            <li>
                <span>
                    <a href="#redirect">한글로보기</a>
                </span>
            </li>
        </ul>
    </div>


    <div class="resultcontents">
        <h1>{{research_name}}</h1>
        <hr>
        <ul class="result">
            <li>
                <strong>저자</strong>
                <p>{{authors}}</p>
            </li>
            <li>
                <strong>학교</strong>
                <p>{{school}}</p>
            </li>
            <li>
                <strong>출판년</strong>
                <p>{{year}}</p>
            </li>
            <li>
                <strong>페이지수</strong>
                <p>{{pages}}</p>
            </li>
            <li>
                <strong>이메일</strong>
                <p>{{email}}</p>
            </li>
            <!--
            <li>
                <strong>팀원 수</strong>
                <p>{{team_num}}</p>
            </li>
            -->
            <li>
                <strong>분류</strong>
                <p>{{type}}</p>
            </li>
            <li>
                <strong>초록</strong>
                <p>{{abstract}}</p>
            </li>
        </ul>
    </div>
</div>